# Data (do not commit large CSVs)
data/raw/*.csv
data/raw/*.xlsx
# Python
__pycache__/
*.py[cod]
.eggs/
*.egg-info/
.venv/
venv/
# Jupyter
.ipynb_checkpoints/
# IDE
.idea/
.vscode/
*.swp
# OS
.DS_Store
